th { 
border: 5px solid black; }
th { background-color: black;

      color: pink; }

td{
border: 5px ridge pink;
}

table{border-width: 650px; }

table{font-family: verdana; }

table { border-collapse: collapse; }

body { font-family: verdana; }

table{ width: 100%;}

td{ 
height: 50px;
    text-align: center; 
    }